
:root {
  /*Color pallete*/
  --olive: #878000;
  --black: #000000;
  --silver: #B2B2B2;
}


#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--reseda-green)
}

body {
  margin: 0;
  font-family: "Shippori Mincho B1", serif;
  font-weight: 700; 
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}